:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

mat-tab-group {
  width: 100%;
}

mat-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.btn-parent {
  display: flex;
  flex-flow: wrap;
  gap: 5px;
  width: 100%;
  padding-top: 10px;
  box-sizing: border-box;
}

.cell {
  width: 20%;
}

.cards_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: calc(90vh - 80px);
  gap: 5px;
  box-sizing: border-box;
}

.single_card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.table_container {
  max-width: 90% !important;
  width: 90% !important;
}

.head_container {
  flex: 1;
}

.separated_text {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  box-sizing: border-box;
}

  .separated_text div:nth-child(2) {
    font-weight: 500;
    text-align: end;
  }
