:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: stretch;
  
}

table {
  height: 0;
}

table th,
table td {
  text-align: center;
  border: 1px solid var(--table-grey);
}

