


<mat-tab-group (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Composition List">
    <app-report *ngIf="activeTabIndex === 0" type="composition_master" [displayedColumns]="appservice.compositionMaster"></app-report>
  </mat-tab>
  <mat-tab label="Packaging List">
    <app-report *ngIf="activeTabIndex === 1" type="packaging_master" [displayedColumns]="appservice.packageMaster"></app-report>
  </mat-tab>
  <mat-tab label="RM List">
    <app-report *ngIf="activeTabIndex === 2" type="rm_master" [displayedColumns]="appservice.rmMaster"></app-report>
  </mat-tab>
  <mat-tab label="PM List">
    <app-report *ngIf="activeTabIndex === 3" type="pm_stock_master" [displayedColumns]="appservice.pmStockMaster"></app-report>
  </mat-tab>
  <mat-tab label="Brand List">
    <app-report *ngIf="activeTabIndex === 4" type="brand_master" [displayedColumns]="appservice.brandStockMaster"></app-report>
  </mat-tab>
</mat-tab-group>
