<mat-toolbar class="toolbar">
  <mat-progress-bar role="progressbar" aria-label="Loading progress" value="100" color="accent" class="progress-main" mode="determinate" *ngIf="!saving"></mat-progress-bar>

  <div class="toolbar-content">
    <div class="toolbar-logo">
      <button *ngIf="isMobile" mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
        <mat-icon *ngIf="isSidenavLoaded && !sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="isSidenavLoaded && sidenav.opened">close</mat-icon>
      </button>
      <img width="140" height="35" src="/assets/logo.png" alt="Logo">
    </div>

    <div class="toolbar-user">
      <mat-icon *ngIf="!appservice.user.isAdmin">person_outline</mat-icon>
      <mat-icon *ngIf="appservice.user.isAdmin">security</mat-icon>
      <h3>{{appservice.user.displayname}}</h3>
      <button mat-icon-button matTooltip="Logout" class="logout" (click)="logout()"><mat-icon>exit_to_app</mat-icon></button>
    </div>
  </div>

</mat-toolbar>


<mat-sidenav-container autosize>
  <mat-sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">
    <div class="menu">
      <div class="menu-header">MENU</div>
      <mat-nav-list>
        <a mat-list-item (click)="selectedMenu = 'dashboard'; menuClick();" class="list_anchor" [ngClass]="{'activated': selectedMenu === 'dashboard'}">
          <span class="entry">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
          </span>
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a mat-list-item (click)="selectedMenu = 'order_report'; menuClick();" class="list_anchor" [ngClass]="{'activated': selectedMenu === 'order_report'}">
          <span class="entry">
            <mat-icon>library_books</mat-icon>
            <span>Order Report</span>
          </span>
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a mat-list-item (click)="selectedMenu = 'art_report'; menuClick();" class="list_anchor" [ngClass]="{'activated': selectedMenu === 'art_report'}">
          <span class="entry">
            <mat-icon>av_timer</mat-icon>
            <span>Artwork Report</span>
          </span>
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a mat-list-item (click)="selectedMenu = 'rm_report'; menuClick();" class="list_anchor" [ngClass]="{'activated': selectedMenu === 'rm_report'}">
          <span class="entry">
            <mat-icon>av_timer</mat-icon>
            <span>RM Report</span>
          </span>
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a mat-list-item (click)="selectedMenu = 'pm_report'; menuClick();" class="list_anchor" [ngClass]="{'activated': selectedMenu === 'pm_report'}">
          <span class="entry">
            <mat-icon>format_paint</mat-icon>
            <span>PM Report</span>
          </span>
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a mat-list-item (click)="selectedMenu = 'ppic_report'; menuClick();" class="list_anchor" [ngClass]="{'activated': selectedMenu === 'ppic_report'}">
          <span class="entry">
            <mat-icon>format_paint</mat-icon>
            <span>PPIC Report</span>
          </span>
        </a>
      </mat-nav-list>

      <br />
      <ng-container *ngIf="appservice.user.role == 'Admin'">
        <div class="menu-header">SETTINGS</div>
        <mat-nav-list>
          <a mat-list-item (click)="selectedMenu = 'user_mgmt'; menuClick();" class="list_anchor" [ngClass]="{'activated': selectedMenu === 'user_mgmt'}">
            <span class="entry">
              <mat-icon>settings_applications</mat-icon>
              <span>User Management</span>
            </span>
          </a>
        </mat-nav-list>

        <mat-nav-list>
          <a mat-list-item (click)="selectedMenu = 'master'; menuClick();" class="list_anchor" [ngClass]="{'activated': selectedMenu === 'master'}">
            <span class="entry">
              <mat-icon>av_timer</mat-icon>
              <span>Master</span>
            </span>
          </a>
        </mat-nav-list>

        <mat-nav-list>
          <a mat-list-item (click)="selectedMenu = 'linking_master'; menuClick();" class="list_anchor" [ngClass]="{'activated': selectedMenu === 'linking_master'}">
            <span class="entry">
              <mat-icon>format_paint</mat-icon>
              <span>Linking Master</span>
            </span>
          </a>
        </mat-nav-list>
      </ng-container>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-dashboard *ngIf="selectedMenu == 'dashboard'"></app-dashboard>
    <app-report type="order_report" [displayedColumns]="appservice.orderDS" *ngIf="selectedMenu == 'order_report'"></app-report>
    <app-report type="art_report" [displayedColumns]="appservice.artDS" *ngIf="selectedMenu == 'art_report'"></app-report>
    <app-report type="rm_report" [displayedColumns]="appservice.rmDS" *ngIf="selectedMenu == 'rm_report'"></app-report>
    <app-report type="pm_report" [displayedColumns]="appservice.pmDS" *ngIf="selectedMenu == 'pm_report'"></app-report>
    <app-user-management *ngIf="selectedMenu == 'user_mgmt'"></app-user-management>
    <app-master type="master" [displayedColumns]="appservice.allColumnMaster" *ngIf="selectedMenu == 'master'"></app-master>
    <app-linking-master type="linking_master" *ngIf="selectedMenu == 'linking_master'"></app-linking-master>
    <app-ppic-report *ngIf="selectedMenu == 'ppic_report'"></app-ppic-report>

  </mat-sidenav-content>
</mat-sidenav-container>

